<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-6 col-sm-7 col-xs-12 intro-title">2 Dudes 1 Flick</h1>
        </div>
          <h3 class="col-md-6 col-sm-10 col-xs-10 intro-head">Movie reviews (not porn).</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">For a while my friend <a target="_blank" href="https://twitter.com/ginobot">Gino</a> and I watched and reviewed a movie a week (ambitious, considering we were working full-time).
          <br>
          <br>
          Over the course of a couple years we did more than 60 episodes, hosted a couple in-theater viewing parties, and built up a decent enough following that friends of friends would be like "Hey, are you one the movie review guys?" at parties. There's an archive of episodes on <a target="_blank" href="https://www.youtube.com/channel/UCjXzyrLWWYXLDMhmbbujJCQ">YouTube</a>.
</p>
        </div>
        <!-- <div class="col-md-1 col-sm-1"></div> -->
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Batman v Superman (our latest)</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/65KjV6ldSn0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Drive</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TgU8rO79-GY" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Midnight in Paris</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k-azLqw92Q4" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>The Artist</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JbnjZOwcuEg" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Tree of Life</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oCG5VVQwUuc" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>