<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-6 col-sm-7 col-xs-12 intro-title">4th of July</h1>
        </div>
          <h3 class="col-md-6 col-sm-10 col-xs-10 intro-head">A celebration of freedom.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">Independence Day is the perfect time for some annual SF traditions; barbecuing meat and faux-meat on the same grill (accidentally pissing off your vegan friends), drinking Budweiser, watching fireworks change the color of the fog, and donning sequin vests to make gifs with super friends like <a target="_blank" href="https://twitter.com/hoiza">Hoi</a> and <a target="_blank" href="https://twitter.com/Hilldawgg">Hillary</a>.</p>
        </div>
        <!-- <div class="col-md-1 col-sm-1"></div> -->
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="http://49.media.tumblr.com/381507529d40c0657c0cb55c9d92fa91/tumblr_n81ssrnM0C1rjcl4mo1_500.gif" alt="sfsf U-S-A">
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="http://45.media.tumblr.com/0e037fe18f5104e28d8823b211b5c2a5/tumblr_n877yyLynB1rjcl4mo1_500.gif" alt="sfsf alley strut">
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="http://40.media.tumblr.com/3cf43c589531f209acdcd4a00255d68d/tumblr_mplqoc4JlW1rjcl4mo1_1280.jpg" alt="sfsf fight poses">
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="http://49.media.tumblr.com/f050772c54f093500634e67f1925de53/tumblr_mpmkcwpAc21rjcl4mo1_400.gif" alt="sfsf og 4th gif">
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="http://49.media.tumblr.com/3e111ee8a48a021e75084f5cd113b925/tumblr_mpfet0TSTY1rjcl4mo1_1280.gif" alt="haters gonna hate rockettes">
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>