<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Browsing John Malkovich</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Ever wanted to browse someone else?</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">
          Inspired by the movie, this Chrome extension temporarily replaces all images and text with malkovich malkovich MALKOVICH! Pretty useless if you’re actually trying to use the internet, but great if you like the movie or love the actor. It’s my great hope that John Malkovich somehow sees (and enjoys) this project.
          <br>
          <br>
          This is built with mostly javascript and jQuery.
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_nytimes_1280.jpg?X-Amz-Date=20150317T161754Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d904d6fd33185d62f04caa0cdfddbb11e10e8f32247c6a6c1fa6f2975cd9a904&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Malkovich-NYTimes">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_buzzfeed_sq.jpg?X-Amz-Date=20150317T161754Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=652f445cfc85762c323acd2d58535a08a62ac9605097886ab2560cf5dc0693c1&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Malkovich-BuzzFeed">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_facebook_sq.jpg?X-Amz-Date=20150317T161912Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=0935a3210a2a620c06127c6e81c7c67f4416eb8d9d534549470473c3f7ae477e&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Malkovich-Facebook">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_people_sq.jpg?X-Amz-Date=20150317T161754Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ba9a9166cb9a899e36aea55d8e83c071f912a38f9c95321e01b3b65f0b4a71a5&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Malkovich-People">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_twitter_sq.jpg?X-Amz-Date=20150317T161754Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=277c34d148f7f7f88ab056c5c4f26fdd7c4f8c999f0be157886218159cf2f64c&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Malkovich-Twitter">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_cnn_1280.jpg?X-Amz-Date=20150317T161754Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a16161ff6514825a9b15b3380011e363169c95390214b1d6d865acb946d6cca1&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Malkovich-CNN">
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>