<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Browsing John Malkovich</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Turn your browser into malkovich malkovich malkovich!</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">longer copy here</p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_nytimes_1280.jpg?X-Amz-Date=20150302T192129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=90685378ec79de809f0ee2dadd362bccf2fd625024e850c5ba15243046132da3&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Malkovich-NYTimes">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_buzzfeed_sq.jpg?X-Amz-Date=20150302T192129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=71e1a1ae4ffcd8427ea35431e78e276a8773283eb6c023ac640849655f474a65&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Malkovich-BuzzFeed">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_facebook_sq.jpg?X-Amz-Date=20150302T192129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a504640091fad24c88d1ad23e13eafa2f950092e870be658181eef7d52753ece&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Malkovich-Facebook">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_people_sq.jpg?X-Amz-Date=20150302T192129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=dbdc42b65a825d6216b7e3592ce9807c9f1c231eab1432da2c0f7a319ff5496b&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Malkovich-People">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_twitter_sq.jpg?X-Amz-Date=20150302T192129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=6a0528451e0cffb8ba040cc56ecc8ffdca4de8139c5a012f0e328e3f3210d09a&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Malkovich-Twitter">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_cnn_1280.jpg?X-Amz-Date=20150302T192129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d8ed4dfa27556294d429c843741f2436bd7e6f413394bbf52511c4044b0ddfa4&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Malkovich-CNN">
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>