<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="col-md-12 col-sm-12 col-xs-12 intro-title">Browsing John Malkovich</h1>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
          <h3 class="intro-head">Ever wanted to browse as someone else?</h3>
          <p class="intro-body">This is a Chrome extension I built that temporarily replaces images and text with those of one of the world's finest actors. Pretty useless if you’re actually trying to use the internet, but great if you like the movie or love the actor. It's my great hope that John Malkovich somehow sees this project.
          <br>
          <br>
          You can <a target="_blank" href="https://chrome.google.com/webstore/detail/browsing-john-malkovich/imocmfchlcnmlpmnigegodhgpanlofom?hl=en">try it for yourself.</a></p>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_nytimes_1280.jpg" alt="Malkovich-NYTimes">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_buzzfeed_sq.jpg" alt="Malkovich-BuzzFeed">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_facebook_sq.jpg" alt="Malkovich-Facebook">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_people_sq.jpg" alt="Malkovich-People">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_twitter_sq.jpg" alt="Malkovich-Twitter">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/browsing_john_malkovich/bjm_screenshots_cnn_1280.jpg" alt="Malkovich-CNN">
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>