<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="col-md-12 col-sm-12 col-xs-12 intro-title">Helium</h1>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
          <h3 class="intro-head">Inflate the internet.</h3>
          <p class="intro-body">If you spend time on the internet and like balloons, this Chrome extension is for you. Current features include: inflating, deflating, and popping any element on a webpage. It makes normal internet stuff just about impossible, but that's what makes it fun.
          <br>
          <br>
          So enough already: <a target="_blank" href="https://chrome.google.com/webstore/detail/helium/hmbnhlmnpnppfhaeoaegeloegkpkbnfm?hl=en">try it out.</a></p>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>