<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">50 States</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 intro-head">Geography is what you make it.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro-body">What happens when you've too much free time and a middle schooler's knowledge of American geography.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_1.jpg" alt="alaska">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_2.jpg" alt="california and new jersey">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_3.jpg" alt="connecticut">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_4.jpg" alt="new mexico">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_5.jpg" alt="alabama and mississippi">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_6.jpg" alt="vermont and new hampshire">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_7.jpg" alt="pennsylvania">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_8.jpg" alt="florida">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_9.jpg" alt="kentucky and tennesse">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_10.jpg" alt="new">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/states/states_11.jpg" alt="celebrity states">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>	
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>