<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">50 States</h1>
					<h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Geography is what you make it.</h3>
					<p class="col-md-4 col-sm-10 col-xs-10 intro-body">What happens when you've too much free time and a middle schooler's knowledge of American geography.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_1.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=af7014a9b8493d26d3f151a07dd583b65fc7aa483a696d70fc5284d18fb09bf1&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="alaska">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_2.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=dd3add3e020687162bd2f0e502fde235cb6955153afebae1ce55f21022105efd&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="california and new jersey">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_3.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=7ed677da02c6dd0e32de227b89eac2331ac71bd8bb67d1e8a43e895bd26b6d2f&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="connecticut">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_4.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bf218b62d0987ef74fbdd3b230f3be22938642338c0a59aacd6efcd96b07beae&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="new mexico">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_5.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=8e23f9e9335ad6d28b47777279896f0d7f97ba5982a372f06ae165a619c1af86&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="alabama and mississippi">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_6.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a4d80f22a383282c68fc5b73e1b397728289d2fb34c2e1e3cfc022232f32ad77&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="vermont and new hampshire">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_7.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=8eee53da774708d17b87aa80834fc0f964aa0a3eaa3b4ad4be42945c5d449357&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="pennsylvania">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_8.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=4d0a6acfb41ae91e874e28eb783678752818d953f3ea16ddd4f0dd25095f905d&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="florida">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_9.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=2a8e8e6e48eab9fec005640f5a606f4acfa2bf81ebc28a8c7982ac7e798feec1&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="kentucky and tennesse">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_10.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=77c5e5c3918f9f7c010b693dc5940f833f4d7b393d48749b3542819b71678328&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="new">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/states/states_11.jpg?X-Amz-Date=20150206T042721Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=063172a842383d0015c04517ae2eca8d35137a2caac3b0ac74fb478c4f2830f9&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="celebrity states">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>