<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Typothesis</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Typography experiments from two of the Internet's most-leading thinkers.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">This is an ongoing project with my friend, Jes Voight.</p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
			<div class="row">
        <div class="col-md-1 col-sm-1 side"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-9 col-sm-12 col-xs-12 one">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/pony_boners/pony_boners_main_web.jpg?X-Amz-Date=20150206T045737Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=23a23847cb3137dd0ce9154406909da08bf96ebf123fac1d6c6bb3166d615faf&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="pony boners">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 two">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/pony_boners/pony_boners_1_web.jpg?X-Amz-Date=20150206T045737Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=667d1213299ceff88fd410ff03e931e4587b9d05b451aa371da650d179f82ecf&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 three">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/pony_boners/pony_boners_2_web.jpg?X-Amz-Date=20150206T045737Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=109ffb17c478e8eabdeadb830317a5fd74d6dda3f1dddf7c386fd654d385ee32&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 four">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/pony_boners/pony_boners_3_web.jpg?X-Amz-Date=20150206T045737Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=5a33289b327f7c07330edae3f9665ea23cdda7eb7eef13ce4c0270d363bac6bc&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 five">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/pony_boners/pony_boners_4_web.jpg?X-Amz-Date=20150206T045737Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9e2235f33a9e92bd8f51b91b43334bd145104468a6d76d96c1001571d3595082&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
          <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
          <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Glitter is an uncontainable mess.
        <br>
        Discovering your talent for styling pony hair is a major letdown.
        <br>
        Art Directors have tremendous finger strength.
        <br>
        Even plastic ponies are cheaper in Chinatown.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>

    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cold_hard_custard/cold_hard_custard_main_web.jpg?X-Amz-Date=20150206T050135Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=b607630aaa53f3ba8b1e12def0e50408ea91bb4db7332c3c748c747608715751&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="cold hard custard">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cold_hard_custard/cold_hard_custard_1_web.jpg?X-Amz-Date=20150206T050135Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=382f71b3a6b792806e0ed37f93bf67e058036426bcb3431bc12bac0b817b0b57&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cold_hard_custard/cold_hard_custard_3_web.jpg?X-Amz-Date=20150206T050135Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=c46522e31ec3b8330ef473fa12174e1f09714eb28bc90464d46809cdc993dd0b&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cold_hard_custard/cold_hard_custard_3_web.jpg?X-Amz-Date=20150206T050135Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=c46522e31ec3b8330ef473fa12174e1f09714eb28bc90464d46809cdc993dd0b&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Frozen milk is slightly yellow.
        <br>
        Dry ice produces CO2.
        <br>
        Pudding is delicious in any form.
        <br>
        Ice melts faster than frozen milk.
        <br>
        Ross is a generous friend.
        <br>
        Ross owns alphabetic ice trays.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>

    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/flash_bang_bbq/flash_bang_bbq_main_web.jpg?X-Amz-Date=20150206T044835Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=b46d8ed28ccd771ac137c209ee0e4babb16b9e353a48f04db97e0a3d51d9bfb7&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="flash bang bbq!">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/flash_bang_bbq/flash_bang_bbq_1_web.jpg?X-Amz-Date=20150206T044835Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d1758e679353351153b80bd1d23934650300dcc8b8abd51ae393fd3832935518&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/flash_bang_bbq/flash_bang_bbq_2_web.jpg?X-Amz-Date=20150206T044835Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d59753330953a3a2055d8dd9f3c6bb35eabdc948c8119aa7269c2fce84f97931&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/flash_bang_bbq/flash_bang_bbq_3_web.jpg?X-Amz-Date=20150206T044835Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=850c159663431c087bdc92ebf47206a3e412f90ff4d1c48740d9408c1cb9e3f2&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/flash_bang_bbq/flash_bang_bbq_4_web.jpg?X-Amz-Date=20150206T044835Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=373d4f9c7ddcd4692d8b2e97a3997398ff0bed82c40b355e9debdbd27d255414&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Wind is a factor.
        <br>
        A charcoal chimney is worth the investment.
        <br>
        Burger patties shrink when you cook them.
        <br>
        Memorial Morning, while good, is less fun than Memorial Day.
        <br>
        It's five o'clock somewhere.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>


    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/scrambled_porn/scrambled_porn_main_web.jpg?X-Amz-Date=20150206T045129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=b8ac94519d7dcff4650a06129bc1f7fc769b9efbcf7cf48180e4955ffc828134&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="scrambled porn">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/scrambled_porn/scrambled_porn_1_web.jpg?X-Amz-Date=20150206T045129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=343180ca32623ee7cac61b70b7b3f7ffa761c992d61961f3b92cee85820b95b4&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/scrambled_porn/scrambled_porn_2_web.jpg?X-Amz-Date=20150206T045129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=2f8610ee44ae060352ca885a42111e0cdfdb615a484d74746beda0ad5c2001f2&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/scrambled_porn/scrambled_porn_3_web.jpg?X-Amz-Date=20150206T045129Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=f611213d30ab9f013f71d19894ef79fdd5d6b15c9f15f21f2d698ffa7d92a47b&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Breakfast for nine can be breakfast for two.
        <br>
        The first pancake is always the ugliest.
        <br>
        Sur La Table has an excellent return policy.
        <br>
        Bacon remains king of breakfast meat.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>


    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/sweet_stuff_super_soon/sweet_stuff_super_soon_main_web.jpg?X-Amz-Date=20150206T045519Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=267b7f576141499d69d33c0ef739d78ed7c6f1f6e559dd56be475ea1397d04bb&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="sweet stuff super soon">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">two</div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">three</div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">four</div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
  </main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>