<!-- <div class="row"> -->
		<div class="col-md-12 col-sm-12 col-xs-12">
			<ul class="fixed-nav">
				<li class="col-md-offset-5 col-md-2 col-sm-offset-2 col-sm-3 col-xs-12"><a>Work</a>
					<br>
					<ul class="sub-nav">
						<li><a href="/work/dropbox">Dropbox</a></li>
						<li><a href="/work/impossiblefoods">Impossible Foods</a></li>
						<!-- <li><a href="/work/virginamerica">Virgin America</a></li> -->
						<li><a href="/work/codeology">Codeology</a></li>
						<li><a href="/work/braintree">Braintree</a></li>
						<li><a href="/work/btedu">BT Basics</a></li>
						<li><a href="/work/contestofchampions">Marvel: Contest of Champions</a></li>
						<li><a href="/work/ups">#UPSfriend_ship</a></li>
						<!-- <li><a href="/work/wellsfargo">Wells Fargo</a></li> -->
						<!-- <li><a href="/work/minus8">Minus 8</a></li> -->
						<li><a href="/work/mario_sonic">Mario &amp; Sonic</a></li>
						<!-- <li><a href="/work/dinolife">Dino Life</a></li>
						<!-- <li><a href="/work/got2b">got2b</a></li> -->
						<!-- <li><a href="/work/edmunds">Edmunds</a></li> -->
						<!-- <li><a href="/work/kreate">Kmart Kreate</a></li> -->
						<!-- <li><a href="/work/urgentgenius">Urgent Genius @ SxSW</a></li> -->
					</ul>
				</li>
				<li class="col-md-2 col-sm-3 col-xs-12"><a href="/about">About</a></li>
				<li class="col-md-2 col-sm-3 col-xs-12"><a>Play</a>
				<br>
					<ul class="sub-nav">
						<!-- <li><a href="/play/plantpeople">Plant People</a></li> -->
						<li><a href="/play/helium">Helium</a></li>
						<li><a href="/play/malkovich">Browsing John Malkovich</a></li>
						<!-- <li><a href="/play/typothesis">Typothesis</a></li> -->
						<li><a href="/play/sfbaes">SF Baes</a></li>
						<li><a href="/play/4thgifs">4th of July</a></li>
						<li><a href="/play/2d1f">2Dudes 1Flick</a></li>
						<!-- <li><a href="/play/states">50 States</a></li> -->
						</ul>
				</li>
			</ul>
		</div>
		<!-- <div class="col-md-2"></div> -->
<!-- <ul class="col-md-2 col-sm-3 col-xs-12 main-nav"><a href="/tumblr">Hi, it's me</a></ul> -->
<!-- </div> -->
<!-- <div class="row"> -->
	<ul>
		<!-- <div class="col-md-2"></div> -->
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="main-nav">
				<li class="col-xs-12 col-sm-offset-2 col-sm-3 col-md-offset-5 col-md-2"><a>Work</a>
					<br>
					<ul class="sub-nav">
						<li><a href="/work/dropbox">Dropbox</a></li>
						<li><a href="/work/impossiblefoods">Impossible Foods</a></li>
						<!-- <li><a href="/work/virginamerica">Virgin America</a></li> -->
						<li><a href="/work/codeology">Codeology</a></li>
						<li><a href="/work/braintree">Braintree</a></li>
						<li><a href="/work/btedu">BT Basics</a></li>
						<li><a href="/work/contestofchampions">Marvel: Contest of Champions</a></li>
						<li><a href="/work/ups">#UPSfriend_ship</a></li>
						<!-- <li><a href="/work/wellsfargo">Wells Fargo</a></li> -->
						<!-- <li><a href="/work/minus8">Minus 8</a></li> -->
						<li><a href="/work/mario_sonic">Mario &amp; Sonic</a></li>
						<!-- <li><a href="/work/dinolife">Dino Life</a></li>
						<!-- <li><a href="/work/got2b">got2b</a></li> -->
						<!-- <li><a href="/work/edmunds">Edmunds</a></li> -->
						<!-- <li><a href="/work/kreate">Kmart Kreate</a></li> -->
						<!-- <li><a href="/work/urgentgenius">Urgent Genius @ SxSW</a></li> -->
					</ul>
				</li>
				<li class="col-md-2 col-sm-3 col-xs-12"><a href="/about">About</a></li>
				<li class="col-md-2 col-sm-3 col-xs-12"><a>Play</a>
				<br>
					<ul class="sub-nav">
						<!-- <li><a href="/play/plantpeople">Plant People</a></li> -->
						<li><a href="/play/helium">Helium</a></li>
						<li><a href="/play/malkovich">Browsing John Malkovich</a></li>
						<!-- <li><a href="/play/typothesis">Typothesis</a></li> -->
						<li><a href="/play/sfbaes">SF Baes</a></li>
						<li><a href="/play/4thgifs">4th of July</a></li>
						<li><a href="/play/2d1f">2Dudes 1Flick</a></li>
						<!-- <li><a href="/play/states">50 States</a></li> -->
						</ul>
				</li>
			</ul>
		</div>
		<!-- <div class="col-md-2"></div> -->
<!-- <ul class="col-md-2 col-sm-3 col-xs-12 main-nav"><a href="/tumblr">Hi, it's me</a></ul> -->
	</ul>
<!-- </div> -->