<nav class="container-fluid">
	<ul class="row main-nav">
		<div class="col-md-2"></div>
		<ul class="col-md-2 col-sm-3 col-xs-12 main-nav"><a href="/work">Work</a>
			<ul class="sub-nav">
				<li><a href="/work/mario_sonic">Mario &amp; Sonic</a></li>
				<li><a href="/work/dinolife">Dino Life</a></li>
				<li><a href="/work/got2b">got2b</a></li>
				<li><a href="/work/ups">#UPSfriend_ship</a></li>
				<li><a href="/work/cross">Cross</a></li>
				<li><a href="/work/kreate">Kmart Kreate</a></li>
				<li><a href="/work/urgentgenius">Urgent Genius @ SxSW</a></li>
			</ul>
		</ul>
		<ul class="col-md-2 col-sm-3 col-xs-12 main-nav"><a href="/fun">Fun</a>
			<ul class="sub-nav">
				<li><a href="/fun/typothesis">Typothesis</a></li>
				<li><a href="/fun/states">50 States</a></li>
			</ul>
		</ul>
		<ul class="col-md-2 col-sm-3 col-xs-12 main-nav"><a href="/about">About</a></ul>
		<ul class="col-md-2 col-sm-3 col-xs-12 main-nav"><a href="/tumblr">Hi, it's me</a></ul>
		<div class="col-md-2"></div>
	</ul>
</nav>