<% include ../partials/head %>

<% include ../partials/nav %>
<!-- <div>Mostly my instagram feed through a tumblr O_o</div> -->
		<main class="container-fluid">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<iframe class="full" src="http://tifslama.tumblr.com" style=" border: none;  position: fixed;  top: 0;  left: 0;  right: 0;  bottom: 0;  float: none;  width: 100%;  height: 100%;"></iframe>
				<style type="text/css">body{overflow:hidden;}</style>
			</div>
		</main>
		
		

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>