<% include ../partials/head %>

		<main class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10 col-xs-12">
					<h1>Typography experiments from two of the Internet's most-leading thinkers.</h1>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div> 
			<div class="row">
        <div class="col-md-1 col-sm-1 side"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-9 col-sm-12 col-xs-12 one">
            <img src="../images/typothesis/ponyboners/ponyboners_1.jpg" alt="pony boners">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 two">two</div>
          <div class="col-md-3 col-sm-6 col-xs-12 three">three</div>
          <div class="col-md-3 col-sm-6 col-xs-12 four">four</div>
          <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
          <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
          <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
          <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Glitter is an uncontainable mess.
        <br>
        Discovering your talent for styling pony hair is a major letdown.
        <br>
        Art Directors have tremendous finger strength.
        <br>
        Even plastic ponies are cheaper in Chinatown.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>

    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="../images/typothesis/coldhardcustard/coldhardcustard_1.jpg" alt="cold hard custard">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">two</div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">three</div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">four</div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Frozen milk is slightly yellow.
        <br>
        Dry ice produces CO2.
        <br>
        Pudding is delicious in any form.
        <br>
        Ice melts faster than frozen milk.
        <br>
        Ross is a generous friend.
        <br>
        Ross owns alphabetic ice trays.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>
    
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="../images/typothesis/flashbangbbq/flashbangbbq_1.jpg" alt="flash bang bbq!">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">two</div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">three</div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">four</div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Wind is a factor.
        <br>
        A charcoal chimney is worth the investment.
        <br>
        Burger patties shrink when you cook them.
        <br>
        Memorial Morning, while good, is less fun than Memorial Day.
        <br>
        It's five o'clock somewhere.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>

		
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="../images/typothesis/scrambledporn/scrambledporn_1.jpg" alt="scrambled porn">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">two</div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">three</div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">four</div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h3>Things Learned:</h3>
        <p>Breakfast for nine can be breakfast for two.
        <br>
        The first pancake is always the ugliest.
        <br>
        Sur La Table has an excellent return policy.
        <br>
        Bacon remains king of breakfast meat.
        </p>
      </div>
      <div class="col-md-1 col-sm-1 side"></div>
    </div>		

    
    <div class="row">
      <div class="col-md-1 col-sm-1 side"></div>
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-md-9 col-sm-12 col-xs-12 one">
          <img src="../images/typothesis/sweetstuffsupersoon/sweetstuffsupersoon_1.jpg" alt="sweet stuff super soon">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 two">two</div>
        <div class="col-md-3 col-sm-6 col-xs-12 three">three</div>
        <div class="col-md-3 col-sm-6 col-xs-12 four">four</div>
        <div class="col-md-3 col-sm-6 col-xs-12 five">five</div>
        <div class="col-md-3 col-sm-6 col-xs-12 six">six</div>
        <div class="col-md-3 col-sm-6 col-xs-12 seven">seven</div>
        <div class="col-md-3 col-sm-6 col-xs-12 eight">eight</div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
  </main>
		
    <% include ../partials/nav %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>
	
<% include ../partials/foot %>