/*code for extra small-ish screens and up (i.e. phones and "phablets"...what an awful word)  */

/*  styling for general elements  */

html {
  font-size: 14px; /* the base size for all rem in this media query */
}

body {
	margin: 0;
	background-color: rgba(221, 216, 215, 1);
	color: rgba(45, 47, 47, 1);
	font-family: 'Nunito', sans-serif;
	font: 2rem / 1.5rem;
	margin-bottom: 10%;
	line-height: 1.5;
}

p {
	font-size: 1.5rem;
}

blockquote {
	color: rgba(135, 135, 135, 1);
	font-style: italic;
	border-left: 6px solid rgba(135, 135, 135, 1);
}


blockquote p {
  display: inline;
}

.row {
margin: 0;
margin-bottom: 6%;
}

ul, li {
	padding: 0;
	margin: 0;
}

img, embed, object, video, iframe {
	width: 100%;
	height: 100%;
}

h1, p {
	margin: auto;
}

/* h1, h3 {
	font-family: 'Helvetica Neue', 'Cutive Mono', Courier, serif;
} */


li, a {
	color: rgba(253, 145, 107, 1);
	/*text-decoration: none;*/
	list-style-type: none;
	line-height: 1.4rem;
	}

p a, p a:active {
	color: rgba(253, 145, 107, 1);
	text-decoration: none;
	line-height: 1.4rem;
  border-bottom: 1px dotted;
  border-color: rgba(253, 145, 107, 0.5);
	}

p a:hover {
	color: rgba(253, 145, 107, 1);
	text-decoration: none;
	border-color: rgba(253, 145, 107, 0);
}

/* TEST FOR MEDIA QUERIES */
p {
	background-color: rgba(221, 216, 215, 1);
}

header {
margin: 10px auto;
width: 100%;
font-size: 3rem;
font-family: 'Rubik', sans-serif;
font-weight: bold;
letter-spacing: -1.5px;
color: rgba(253, 145, 107, 1);
}

header a {
	text-decoration: none;
}

/* styling for nav bar */
.main-nav {
	z-index: 1000;
	position: relative;
	text-align: center;
	text-transform: lowercase;
	font-size: 1.1rem;
	background-color: rgba(221, 216, 215, 1);
	margin: -10px 0px 0px 0px;
}

.sub-nav {
	z-index: 1000;
	visibility: hidden;
	position: absolute;
	padding: 0;
	width: 100%;
	left: 42%;
	text-align: left;
	font-size: 1.1rem;
	line-height: 1.2rem;
}

.sub-nav a {
	background-color: rgba(221, 216, 215, 1);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 	-moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.fixed-nav {
	z-index: 1000;
	position: fixed;
	height: 3.1rem;
	width: 95%;
	top: -65px;
	padding-top: 13px;
	transition: top 600ms;
	text-align: center;
	text-transform: lowercase;
	font-size: 1.1rem;
	background-color: rgba(221, 216, 215, 1);
	box-shadow: 0 9px 30px -8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 9px 30px -8px rgba(0, 0, 0, 0.3);
 	-moz-box-shadow: 0 9px 30px -8px rgba(0, 0, 0, 0.3);
}

.fixed-nav li ul a {
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 	-moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.main-nav:hover li ul {
	display: inline;
}

.main-nav a:hover, .main-nav a:active, .fixed-nav a:hover, .fixed-nav a:active {
	color: rgba(221, 216, 215, 1);
	background-color: rgba(253, 145, 107, 1);
	text-decoration: none;
}

/* styling for each project's intro */
.intro-title {
	font-size: 4rem;
	font-family: 'Rubik', sans-serif;
	/*font-weight: 700;*/
	text-align: center;
	font-weight: bold;
	letter-spacing: -1.5px;
	margin-bottom: 4rem;
}

.intro-head {
	text-align: left;
	letter-spacing: -1px;
	font-size: 2.2rem;
	font-family: 'Rubik', sans-serif;
	/* font-weight: bold; */
	font-style: italic;
}

.intro-body {
	padding-top: 0px;
	font-size: 1.2rem;
	font-family: 'Nunito', sans-serif;
	text-align: left;
}


/*  code for small-ish screens and up (i.e. tablets and most screens embedded in bionic arms)  */
@media(min-width:768px) {
p {
	background-color: rgba(221, 216, 215, 1);
}

header {
margin: 10px auto;
width: 100%;
font-size: 3rem;
font-family: 'Rubik', sans-serif;
font-weight: bold;
letter-spacing: -1.5px;
color: rgba(253, 145, 107, 1);
}

/* styling for each project's intro */
.intro-title {
	font-size: 4rem;
	font-family: 'Rubik', sans-serif;
	/*font-weight: 700;*/
	text-align: center;
	font-weight: bold;
	letter-spacing: -2.5px;
	margin-bottom: 4rem;
}

.intro-head {
	text-align: left;
	letter-spacing: -1px;
	font-size: 2.2rem;
	font-family: 'Rubik', sans-serif;
	/* font-weight: bold; */
	font-style: italic;
}

.intro-body {
	padding-top: 0px;
	font-size: 1.2rem;
	font-family: 'Nunito', sans-serif;
	text-align: left;
}

/*	header {
	  margin: 10px auto;
	  width: 20%;
	  background-image: url(http://www.gardenmandy.com/wp-content/uploads/2008/05/orangatang.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-position: top center;
	}*/
}

/*  code for medium-ish screens and up (i.e. laptops and your mom's desktop)  */
@media(min-width:992px) {

	p {
		background-color: rgba(221, 216, 215, 1);
	}

	header {
  margin: 10px auto;
  width: 100%;
  font-size: 3rem;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	letter-spacing: -1.5px;
	color: rgba(253, 145, 107, 1);
	}

	/* styling for each project's intro */
	.intro-title {
		font-size: 4rem;
		font-family: 'Rubik', sans-serif;
		/*font-weight: 700;*/
		text-align: center;
		font-weight: bold;
		letter-spacing: -1.5px;
		margin-bottom: 4rem;
	}

	.intro-head {
		text-align: left;
		letter-spacing: -1px;
		font-size: 2.2rem;
		font-family: 'Rubik', sans-serif;
		/* font-weight: bold; */
		font-style: italic;
	}

	.intro-body {
		padding-top: 20px;
		font-size: 1.2rem;
		font-family: 'Nunito', sans-serif;
		text-align: left;
	}

/*	header {
	  margin: 10px auto;
	  width: 20%;
	  background-image: url(http://www.gardenmandy.com/wp-content/uploads/2008/05/orangatang.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-position: top center;
	}*/
}

/* code for extra large-ish screens and up (i.e. big desktops and supervillain monitors */
@media(min-width:1200px) {

	p {
		background-color: rgba(221, 216, 215, 1);
	}

	header {
  margin: 10px auto;
  width: 100%;
  font-size: 3rem;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	letter-spacing: -1.5px;
	color: rgba(253, 145, 107, 1);
}

}

/* KEEP THIS AT THE BOTTOM PLEASE */
.revealed {
	visibility: visible;
}















/* styling for header logo image */
/*header {
  	background-image: url(http://www.gardenmandy.com/wp-content/uploads/2008/05/orangatang.jpg);
  	background-attachment: fixed;
 		background-size: cover;
  	background-position: top center;
  	margin: 10px auto;
  	width: 140px;
  	height: 70px;
}

header a {
 		background-image: url(http://f.cl.ly/items/1l2J3z0E3K353Q051T0h/Untitled-3.png);
  		text-indent: -9000px;
  		display: block;
  		height: 71px;
}*/




/*body.on {
	background-image: url(http://www.gardenmandy.com/wp-content/uploads/2008/05/orangatang.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
}

body.on header a {
	background-position: 0 -0px;
/* make opacity 0 to 100
}*/



/* LEMEME! */
/*.webkit #masthead h1 a { background:url('http://www.lememe.com/wp-content/uploads/2013/01/DARK-WEB-HACKERS-CARE-OF-BEEP-IAMS-LOFI.gif') repeat top left; -webkit-background-clip:text; -webkit-text-fill-color:transparent; background-clip:text; }
		.webkit #masthead h1 a.hover { color:#000; -webkit-text-fill-color:black; background:none; }
		#masthead h1 a:hover { color:#fff; }

