<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Braintree</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Accept anything</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">Braintree's code lets companies accept mobile payments of just about any type, all around the world. Our two targets were entrepreneurs and software developers. Getting entrepreneurs to listen wouldn't be that hard, but devs hate pretty much everything about #brands and would be much harder to reach.
          <br>
          <br>
          It was my absurd luck to have just completed a three-month coding immersive before starting this project.</p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">We combined subway station takeovers, billboards, and street-level print to reach people in startup communities in five cities across three continents.
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">We transformed the covers of a London daily paper into an ASCII-art newspaper, complete with short articles, infographics, and even a crossword puzzle about mobile commerce.
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">We had murals painted in tech-heavy parts of NYC, SF, and Chicago to reach devs. Each one presents a specific benefit of Braintree as a command devs might enter in their computer's terminal. If the end of that last sentence made no sense to you—good! This was only meant for devs.
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">We extended the code command concept by partnering with a couple local cafés and making riddles and secret passwords that only someone with coding knowledge could figure out.
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">As part of our appeal to entrepreneurs, we interviewed the founders and senior developers of some successful startups to hear how Braintree partnered in their growth.
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>