<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-6  col-sm-7 col-xs-12 intro-title">Braintree</h1>
        </div>
          <h3 class="col-md-6 col-sm-10 col-xs-10 intro-head">Accept anything</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">Braintree's code lets companies accept mobile payments of just about any type, all around the world. The two most important groups for them are entrepreneurs and software developers. Getting entrepreneurs to listen wouldn't be that hard, but devs hate pretty much everything about #brands and would be much harder to reach.
          <br>
          <br>
          At the time, I'd just completed General Assembly's three-month coding bootcamp&mdash;uniquely qualifying me to work on something like this.</p>
<!--         <div class="col-md-1 col-sm-1"></div> -->
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 col-xs-12"><h4>Out of Home</h4>
        <p>We used a combination of subway station takeovers, billboards, and street-level print to reach people in startup communities in New York, San Francisco, Chicago, London, and Sydney.</p>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
      <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/Braintree.highres-46_web_16x9.jpg" alt="one integration. every way to pay."></div>
        <div class="col-md-6 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/Braintree.highres-51_web_16x9.jpg" alt="apple pay? yeah, accept that too."></div>

      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/Braintree_1017_Closeup_New-Copy_web_7x5.jpg" alt="where mobile payments are going"></div>
        <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/SF0120_062615_ap_web_7x5.jpg" alt="less code. more coin."></div>
        <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/SF0177-050715-ap1_web_7x5.jpg" alt="braintree is code for every payment type"></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/IMG_1371_web_16x9.jpg" alt="use our full stack to make stacks"></div>
        <div class="col-md-4 col-sm-4 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/317_New-Copy_v2_web_custom.jpg" alt="open your app to the world"></div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/318_New-Copy_v1_web_16x9.jpg" alt="your app is going to need a passport"></div>
        <div class="col-md-6 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/Braintree.highres-11_web_16x9.jpg" alt="mobilise your payments. globalise your business."></div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- <div class="col-md-6 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/_LEX2059-2.jpg" alt="we're here from your first pound to your billionth"></div> -->
          <div class="col-md-4 col-sm-4 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/Old-St-Domination-corridor_web_custom.jpg" alt="our code takes mobile commerce global"></div>

          <div class="col-md-8 col-sm-8 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/banner-(1)_web_16x9.jpg" alt="BIG we're here from your first pound to your billionth"></div>
        </div>
      </div>


      <!-- muted until we have good photos of evening standard -->
      <!-- <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 col-xs-12"><h4>Print</h4>
        <p>We transformed the covers of a London daily paper into an ASCII-art newspaper, complete with short articles, infographics, and even a crossword puzzle about mobile commerce.</p>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div> -->
      <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 col-xs-12"><h4>Code Commands</h4>
        <p>We had murals painted in tech-heavy parts of NYC, SF, and Chicago to reach devs. Each one highlights a specific benefit of Braintree as a command devs might enter in their computer's terminal. If the end of that last sentence made no sense to you—good! This was only meant for devs.
        </p></div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/1165_Folsom-2_web_4x5.jpg" alt="cc -v payments"></div>
        <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/Braintree-Flat-Gate-July-2015(2)_web_4x5.jpg" alt="cc git checkout master"></div>
        <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/IMG_8094_web_4x5.jpg" alt="cc diff --stat"></div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 col-xs-12"><h4>#CodeforCoffee</h4>
        <p>We extended the code command concept by teaming up with a couple local cafés and making riddles with secret passwords that only someone with coding knowledge could figure out.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/BT_CfC_GGU.png" alt="bt tweet ggu"></div>
        <div class="col-md-7 col-sm-7 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/IMG_4651_web_custom.jpg" alt="chalkboard code"></div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/IMG_4654_web_custom.jpg" alt="inside chalkboard"></div>
        <div class="col-md-5 col-sm-5 col-xs-12"><img src="https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/IMG_4669.jpg" alt="coffee sleeves napkins"></div>

        <!-- extra bt coffee code tweets -->
        <!-- https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/BT_CfC_gCafe.png -->
        <!-- https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/BT_CfC_CumaicaCoffee.png -->
        <!-- https://s3-us-west-1.amazonaws.com/tifsprojects/braintree/BT_CfC_Continental.png -->

        <!-- link to #codeforcoffee on twitter https://twitter.com/hashtag/codeforcoffee -->
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8 col-xs-12"><h4>Case Studies</h4>
        <p>As part of our appeal to entrepreneurs, we interviewed the founders and senior developers of some successful startups to hear how Braintree helped them grow their business.</p>
        </div>
        <div class="col-md-3 col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Braintree + Boxed</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zJloNlzhodI" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Braintree + Casper</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z5Vrdx_6uJQ" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>