<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="col-md-12 col-sm-12 col-xs-12 intro-title">BT Basics</h1>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
          <h3 class="intro-head">Mobile payments made easy.</h3>
          <p class="intro-body">Most people aren't familiar with digital payment platforms and nobody really wants to read through technical requirements.
          <br>
          <br>
          We worked with Braintree to make an educational series that highlights major concepts in a way that's easy to understand and maybe even a little fun. There's melted cheese on your broccoli&mdash;WOO HOO!
          </p>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Payments 101</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/bt_edu/Payment%20Basics_%20Payments%20101.mp4" allowfullscreen></iframe>
            <!--  old link: https://www.youtube.com/embed/fZZh2xHnJgg  -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Secure Payments</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/bt_edu/Payment%20Basics_%20Secure%20Payments.mp4" allowfullscreen></iframe>
            <!--  old link: https://www.youtube.com/embed/1SxjvMUYgKM  -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>PCI Compliance</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/bt_edu/Payment%20Basics_%20PCI%20Compliance.mp4" allowfullscreen></iframe>
            <!--  old link: https://www.youtube.com/embed/hoO3BOBvfL4  -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Expanding Internationally</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/bt_edu/Payment%20Basics_%20Expanding%20Internationally.mp4" allowfullscreen></iframe>
            <!--  old link: https://www.youtube.com/embed/qs08aq-H2kQ  -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <!-- <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Fees and Pricing</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eWyoO2a5RME" allowfullscreen></iframe>

          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>  -->
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h4>Checkout Experience</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/bt_edu/Payment%20Basics_%20Checkout%20Experience.mp4" allowfullscreen></iframe>
            <!--  old link: https://www.youtube.com/embed/D7UWmF5SJcw  -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>