<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Marvel: Contest of Champions</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Fight for the universe with your favorite characters.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">With a storyline based on the classic crossover series and a huge cast of heroes and villains at our disposal, we came up with several ways to excite hardcore and casual fans from the trailer’s first viewing at New York Comic Con until the game’s release date.
          <br>
          <br>
          Working on this was a big win for middle school me.
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-0 col-sm-0"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-7 col-sm-8 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/contest_of_champions_2.jpg" alt="Contest of Champions Main">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h4>Overall Concept</h4>
            <p>A Jack Kirby comic come to life. We used game visuals, concept art, and anything else we could get our hands on to emulate Kirby’s style and convey the cosmic scope of the game. This included the overall look, color pallette, angles of the screenshots, style of menu items—everything.</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-0"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h4>The Story So Far</h4>
            <p>An episodic prologue setting up the game's story arc. We worked with teams at Kabam! and Marvel to keep fans excited during the couple months between New York Comic Con and the game’s release. It introduces characters that might not be familiar to all fans and gives more context to the game’s main plot, all in familiar comic panels with some additional interactive elements.</p>
            <br>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/thestorysofar_50%25.gif" alt="The Story So Far 820">
            <!-- The Story So Far 100% -->
            <!-- https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/thestorysofar_100%25.gif -->
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">

        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-6 col-sm-8 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/contest_of_champions_4.jpg" alt="Contest of Champions Main">
          </div>
          <div class="col-md-6 col-sm-4 col-xs-12">
            <h4>Browser Beatdown</h4>
            <p>The fight for the universe starts on the internet! What better way to introduce gameplay than to let people smash the html elements on a webpage with some of their favorite characters? We (definitely not me) built a browser plug-in that turns any page into a Rampage-style free for all. Smash whatever you can then challenge friends to beat your high score on that site.</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0rJW77rMaBU" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>