<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Marvel: Contest of Champions</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Become the ultimate Marvel champion.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">A fighting game based on a classic three-issue series. We got a chance to create a site and fill it with cool stuff we could dream up. Another childhood dream come true. gigantic cast of characters. get fans excited.

          Jack Kirby's comic style to draw in classic and attract relative newbies too.
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/marvel_title.jpg?X-Amz-Date=20150302T191846Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=9dcfb33ec96266d52521d7d33ada424c32c84219f9641b58553412c4522a8732&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Contest of Champions Title">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/marvel_main.jpg?X-Amz-Date=20150302T191846Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=c64526c9b9d3938176ddbb6f91022dcd056ed206aba9dc7cf4bb96ae1e6537de&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Contest of Champions Main">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h4>Overall Concept
            <br>
            We wanted everything to feel straight from a Jack Kirby comic. This included the look, the feel, language, text-styling of menu items. Everything.</h4>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/thestorysofar_gif_820.gif?X-Amz-Date=20150302T191846Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=63266ce0d79d21212e5aa296100a5ce83b44384dd27d2155c360dc4ff9efde02&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="The Story So Far 820">
            <!-- The Story So Far 1232 -->
            <!-- https://s3-us-west-1.amazonaws.com/tifsprojects/contest_of_champions/thestorysofar_gif_1232.gif?X-Amz-Date=20150302T191846Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bc76116401257b1e552a7673f967508865ad3c1c74cac5a7f6b4c221aa50b1d6&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <p>The Story So Far
            <br>
            To keep fans excited we had the idea for an episodic, slightly-animating prologue of the game's plot. Tying together / Featuring some favorite characters from older comics and newer movies.</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <p>Browser Beatdown
          <br>
          The fight for the universe starts on the internet!
          <br>
          A browser plug-in that lets you smash any page with your favorite character. Just imagine Hulk or Spidey destroying the elements on any page. It was really cool.
          <br>
          <br>
          You can try it for yourself, here.</p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>