<% include ../partials/head %>

<% include ../partials/nav %>

		<main class="container-fluid">
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 head">Cross</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 subhead">The American writing instrument since 1846.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro">In the years since 1846, a lot has changed in America.
					<br>
					<br>
					Their pens haven't.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="/images/cross/cross_1.jpg" alt="manifest">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="/images/cross/cross_2.jpg" alt="lincoln">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="/images/cross/cross_3.jpg" alt="telegraph">
					</div>
			</div>
			<div class="col-md-1 col-sm-1"></div>
		</main>
		
		

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>