<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Cross</h1>
					<h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">The American writing instrument since 1846.</h3>
					<p class="col-md-4 col-sm-10 col-xs-10 intro-body">In the years since 1846, a lot has changed in America.
					<br>
					<br>
					Their pens haven't.</p>
				</div>
				<!-- <div class="col-md-1 col-sm-1"></div> -->
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cross/cross_1.jpg?X-Amz-Date=20150206T041720Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=7cff673136d2665adbebd7148db3ec48c47e659ab7cd3eb86eb6e14dfd6fba85&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="manifest">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cross/cross_2.jpg?X-Amz-Date=20150206T041812Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=b5b00881eea07c9b4c317331267ba3e44c1cdede342c53d9b00cee73c8bcbb33&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="lincoln">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/cross/cross_3.jpg?X-Amz-Date=20150206T041812Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=51a322b4dfa89d51d964e3c47de86510d7a5eeb900b6e3b8e5f2b08b812a6f73&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="telegraph">
					</div>
			</div>
			<div class="col-md-1 col-sm-1"></div>
		</main>



		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>