<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Dino Life</h1>
					<h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Where cavemen and dinosaur are BFF.</h3>
					<p class="col-md-4 col-sm-10 col-xs-10 intro-body">The client asked us to make the game description and screenshot captions more interesting so I wrote everything in caveman voice.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-8 col-sm-8 col-xs-12">
						<img src="/images/dino_life/dino_life_1.jpg" alt="Game Summary">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<blockquote>
							<p>LIFE MORE GOOD WITH DINOSAUR FRIEND!
							<br>
							<br>
							Welcome to world where coveman and dinosaur happy together. Make home village good, make all cavemen happy, make tribe grow. Make different breed when two dinos make extra friendly. Party with other tribe and make VERY different dinosaur, share awesome thing—even have tribal danceoff!
							<br>
							<br>
							Life good! START PLAY NOW!</p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Screenshots
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/dino_life/dino_life_2.jpg" alt="Dinosaurs">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/dino_life/dino_life_3.jpg" alt="Villages">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/dino_life/dino_life_4.jpg" alt="Crossbreed">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/dino_life/dino_life_5.jpg" alt="Rare Thing">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<img src="/images/dino_life/dino_life_6.jpg" alt="Friends">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>



		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>