<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Dino Life</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Where caveman and dinosaur are BFF.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">The client asked us to make the game description and screenshot captions more interesting so I wrote everything in caveman voice.
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_1.jpg?X-Amz-Date=20150206T042100Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=50340f43c5a55f046d7c7225a3a0c575ffba40c75825ee5185e71eab0046af05&X-Amz-Credential=ASIAJXGKW4I4ZBU7TWKQ/20150206/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEP3//////////wEagAK2VkcRLdto8l92T2haf%2BZ7o%2BAVma6jfR%2BXy/mOnswFyZX2vrGy96kZ8dHyfYXnFY3K4SuSaxYE7D7%2B1qywtkg2VPIuUJyLNqR7ScPKYq%2B0wI3Rm7BA9TGl4dPHzTem76h1dcqLrvq4gfequ3GhCZAkFPZGWuA4l0JJisstazMP/xkcfVgsTdXJZowSOF6TzXhWUiu18/ZjM0X/NjaaBxXcVazoQnl3K0QIC2AUv2PwiB/Uu/t5wFa8m9HzTgdjDio1JZ4CvAJ7p7NGM%2BGWWgUevGUbSAYoc0kS4Ykye2jwMpWUckiWfb64S%2BWAhYHooLXglrivNv/C/knoWcNWBN5qIID90KYF" alt="Game Summary">
          </div>

        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </main>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>