<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Dino Life</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Where caveman and dinosaur are BFF.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">The client asked us to make the game description and screenshot captions more interesting so I wrote everything in caveman voice.
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_1.jpg?X-Amz-Date=20150317T143245Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=185b9eee07261f9c27983c9bd447eb90814f95c3c88febf149083cf07da61d62&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Game Summary">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
      	<p>Screenshots</p>
      	<div class="col-md-1 col-sm-1"></div>
      	<div class="col-md-10 col-sm-10 col-xs-12">
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_8.jpg?X-Amz-Date=20150317T143001Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=b97344efeb0faec5dd020492e806eb305a4487f4e857d2dccc2ac17ee4784aa4&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Title Screen">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_1.jpg?X-Amz-Date=20150317T142904Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=09d29e41ea60ab845e4134bc375ada9436d167fb328220081c6db1c99e0044c3&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Collect dinosaurs">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_3.jpg?X-Amz-Date=20150317T142904Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ea8150d04cae05a066d63d38fc7df343c808df41b7fc11e3731aa80f436fcbce&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Build a village">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_4.jpg?X-Amz-Date=20150317T142904Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=2203138ee72a7ea9e60d74348fee4019db26aca367c336a72bb096782ccfd39c&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Crossbreed dinosaurs">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_5.jpg?X-Amz-Date=20150317T142904Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=6c5bade825b2ab87a2278bb0e5f225ad581c90f8a24a09bb23881de638e3ca63&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Explore for rare items">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_6.jpg?X-Amz-Date=20150317T142904Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=2923415c56ecb7620f830c76e78b8c4e5e6216bd02baa8d626da692e199817b3&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Play with friends">
      		</div>
      	</div>
      	<div class="col-md-1 col-sm-1"></div>
      </div>
    </main>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>