<% include ../partials/head %>

<% include ../partials/nav %>

    <main>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Dino Life</h1>
          <h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Where caveman and dinosaur are BFF.</h3>
          <p class="col-md-4 col-sm-10 col-xs-10 intro-body">The client asked us to make the game description and screenshot captions more interesting so I wrote everything in caveman voice.
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_1.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=5410512e15104b18204610d8cb56eed79bb2a7aeb5969480677af919f38f26fe&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Game Summary">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row">
      	<p>Screenshots</p>
      	<div class="col-md-1 col-sm-1"></div>
      	<div class="col-md-10 col-sm-10 col-xs-12">
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_8.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=43b1f77586f38b6855a0071b2d19dbad06f03a9cd3c2dd15d57bd04f5f16919c&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Title Screen">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_2.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=45d3423a3bd6cba0721268ee025dbf72beb01a1add5b9f21987231f66d92f8ff&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Collect dinosaurs">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_3.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=f1ae7f13d5bce848773d45a36cbc4ea305025493cdd0a8a960dab43c7e38c499&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Build a village">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_4.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=aa409ab55a39797dbe3bdb4de65b2fe6b99e66c207ce73e4c707fd45c5b324e0&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Crossbreed dinosaurs">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_5.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=6ac63382b42009d6a2722409f745277bb98e4202643e49c2b5f5ea8c0b09e68b&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Explore for rare items">
      		</div>
      		<div class="col-md-4 col-sm-6 col-xs-12">
      			<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/dino_life/dino_life_6.jpg?X-Amz-Date=20150302T194647Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=01274fb733d3ff9b8686b018d92405cbd4f738c37fb0057ef376f47386306a4f&X-Amz-Credential=ASIAI2WFU75JZ6APV65Q/20150302/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEHwakAKp19AFAC5Kne5D/ATqMq0bRoqO1jr1E0/BckiJz0NLOsrVq0Kofll%2BQzhQEho2/3gJmFxgx0SvfR9mjmulz9QlnXw50vVd5KKNDJchimpnP0DfJBDYHkYyyyu%2BrVGE6rnhNtgkxipep4yw3x9JHYKfYLdqyCAmQZusRkOk3qnIf94lHj2EeEL6fjXxJ56Q0bXkt9KcQJi0F0fYnSdZpP4Y1n5wSeS0pUpvNIKnmvCgnhUOUccfLMukiiClvsgjrpR5K1teVm%2BYJHvHMC528bEwQqSEofu/iH4/3aDLW65I6HO4bZm6KrrOJCMHdt6FeGuTQmGK/kG3Gc1TQm2fWHFRJMurpgiC/sLvmd/95zpoLSDD69KnBQ%3D%3D" alt="Play with friends">
      		</div>
      	</div>
      	<div class="col-md-1 col-sm-1"></div>
      </div>
    </main>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="beginner.js"></script>

<% include ../partials/foot %>