<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Dino Life</h1>
					<h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">Where cavemen and dinosaur are BFF.</h3>
					<p class="col-md-4 col-sm-10 col-xs-10 intro-body">The client asked us to make the game description and screenshot captions more interesting so I wrote everything in caveman voice.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/minus_8/watches_slim.png?X-Amz-Date=20150224T033640Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=1f04a2f3c723df8729f6528be0c19158432c95dada5634dd38612393053865c5&X-Amz-Credential=ASIAI47M2YRGRBACA7SQ/20150224/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM3//////////wEakALatMfc3xBMi6iEKeo9Pe/vDkVei8XTqn6ir3AwBbm5k3Lw5U9O9/HT5Yz982LI%2BD4DnqL1WDoaBeeIo2cvYd8JK2cwAdWPu1KWxAyMD8tTjV/ENRHXD3TJu%2Bxww6MtUALDSt84edAqhp2PW2osC5SUkHWaBULZ1mVTqhHDQ3jPrDwO%2BzsXOKTCQg5rR6lTnoBs/KiCNHi2FIcDcih1G%2BFC1oIt58v6xiTvr1eCDrUxg8nBpQHpbrAm6ItlAff5/Fc16s/fiHtfGQNtHB%2B4L2DJszLGeNbEXJcpohFzKsSf%2BKOhL5vG1XT1CfHMmDyFOdYUnrqgkK%2BOxNl%2BddGScYCnwsbRo6tJtkmXFetmjpnE/yCG3a%2BnBQ%3D%3D" alt="Watches">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/minus_8/about.png?X-Amz-Date=20150224T033614Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=635fd5405081cf139232b0ce900d79ddf2ccd1ac5076247934ddfdc5dfa76f88&X-Amz-Credential=ASIAI47M2YRGRBACA7SQ/20150224/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM3//////////wEakALatMfc3xBMi6iEKeo9Pe/vDkVei8XTqn6ir3AwBbm5k3Lw5U9O9/HT5Yz982LI%2BD4DnqL1WDoaBeeIo2cvYd8JK2cwAdWPu1KWxAyMD8tTjV/ENRHXD3TJu%2Bxww6MtUALDSt84edAqhp2PW2osC5SUkHWaBULZ1mVTqhHDQ3jPrDwO%2BzsXOKTCQg5rR6lTnoBs/KiCNHi2FIcDcih1G%2BFC1oIt58v6xiTvr1eCDrUxg8nBpQHpbrAm6ItlAff5/Fc16s/fiHtfGQNtHB%2B4L2DJszLGeNbEXJcpohFzKsSf%2BKOhL5vG1XT1CfHMmDyFOdYUnrqgkK%2BOxNl%2BddGScYCnwsbRo6tJtkmXFetmjpnE/yCG3a%2BnBQ%3D%3D" alt="About">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/minus_8/Layer_gif.gif?X-Amz-Date=20150224T033609Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=f7c0c6680c822021ac4eef56aabba2af87c08cae6364eff638c21cc99fdd5a3d&X-Amz-Credential=ASIAI47M2YRGRBACA7SQ/20150224/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM3//////////wEakALatMfc3xBMi6iEKeo9Pe/vDkVei8XTqn6ir3AwBbm5k3Lw5U9O9/HT5Yz982LI%2BD4DnqL1WDoaBeeIo2cvYd8JK2cwAdWPu1KWxAyMD8tTjV/ENRHXD3TJu%2Bxww6MtUALDSt84edAqhp2PW2osC5SUkHWaBULZ1mVTqhHDQ3jPrDwO%2BzsXOKTCQg5rR6lTnoBs/KiCNHi2FIcDcih1G%2BFC1oIt58v6xiTvr1eCDrUxg8nBpQHpbrAm6ItlAff5/Fc16s/fiHtfGQNtHB%2B4L2DJszLGeNbEXJcpohFzKsSf%2BKOhL5vG1XT1CfHMmDyFOdYUnrqgkK%2BOxNl%2BddGScYCnwsbRo6tJtkmXFetmjpnE/yCG3a%2BnBQ%3D%3D" alt="Layer">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/minus_8/Layer24_gif.gif?X-Amz-Date=20150224T033604Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=e4c62f2a023c60250e07b9bb8bb69f1725a4c7e9be9388982115b7d4850486e0&X-Amz-Credential=ASIAI47M2YRGRBACA7SQ/20150224/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM3//////////wEakALatMfc3xBMi6iEKeo9Pe/vDkVei8XTqn6ir3AwBbm5k3Lw5U9O9/HT5Yz982LI%2BD4DnqL1WDoaBeeIo2cvYd8JK2cwAdWPu1KWxAyMD8tTjV/ENRHXD3TJu%2Bxww6MtUALDSt84edAqhp2PW2osC5SUkHWaBULZ1mVTqhHDQ3jPrDwO%2BzsXOKTCQg5rR6lTnoBs/KiCNHi2FIcDcih1G%2BFC1oIt58v6xiTvr1eCDrUxg8nBpQHpbrAm6ItlAff5/Fc16s/fiHtfGQNtHB%2B4L2DJszLGeNbEXJcpohFzKsSf%2BKOhL5vG1XT1CfHMmDyFOdYUnrqgkK%2BOxNl%2BddGScYCnwsbRo6tJtkmXFetmjpnE/yCG3a%2BnBQ%3D%3D" alt="Layer 24">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/minus_8/edge_gif.gif?X-Amz-Date=20150224T033631Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=f69252b8a1a0ae17d0251eb12766a0013ed518a102f3af3574faad5f8266bccc&X-Amz-Credential=ASIAI47M2YRGRBACA7SQ/20150224/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM3//////////wEakALatMfc3xBMi6iEKeo9Pe/vDkVei8XTqn6ir3AwBbm5k3Lw5U9O9/HT5Yz982LI%2BD4DnqL1WDoaBeeIo2cvYd8JK2cwAdWPu1KWxAyMD8tTjV/ENRHXD3TJu%2Bxww6MtUALDSt84edAqhp2PW2osC5SUkHWaBULZ1mVTqhHDQ3jPrDwO%2BzsXOKTCQg5rR6lTnoBs/KiCNHi2FIcDcih1G%2BFC1oIt58v6xiTvr1eCDrUxg8nBpQHpbrAm6ItlAff5/Fc16s/fiHtfGQNtHB%2B4L2DJszLGeNbEXJcpohFzKsSf%2BKOhL5vG1XT1CfHMmDyFOdYUnrqgkK%2BOxNl%2BddGScYCnwsbRo6tJtkmXFetmjpnE/yCG3a%2BnBQ%3D%3D" alt="Edge">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/minus_8/zone_gif.gif?X-Amz-Date=20150224T033644Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=48357a0a83cc77f27bb88660eb851c57a30fd3be3acdeb7c1cc598f4665fe67d&X-Amz-Credential=ASIAI47M2YRGRBACA7SQ/20150224/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEM3//////////wEakALatMfc3xBMi6iEKeo9Pe/vDkVei8XTqn6ir3AwBbm5k3Lw5U9O9/HT5Yz982LI%2BD4DnqL1WDoaBeeIo2cvYd8JK2cwAdWPu1KWxAyMD8tTjV/ENRHXD3TJu%2Bxww6MtUALDSt84edAqhp2PW2osC5SUkHWaBULZ1mVTqhHDQ3jPrDwO%2BzsXOKTCQg5rR6lTnoBs/KiCNHi2FIcDcih1G%2BFC1oIt58v6xiTvr1eCDrUxg8nBpQHpbrAm6ItlAff5/Fc16s/fiHtfGQNtHB%2B4L2DJszLGeNbEXJcpohFzKsSf%2BKOhL5vG1XT1CfHMmDyFOdYUnrqgkK%2BOxNl%2BddGScYCnwsbRo6tJtkmXFetmjpnE/yCG3a%2BnBQ%3D%3D" alt="Zone">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>



		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>