<% include ../partials/head %>
<% include ../partials/nav %>

<main>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="col-md-12 col-sm-12 col-xs-12 intro-title">Dropbox</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <h3 class="col-md-6 col-sm-10 col-xs-10 intro-head">A modern workspace.</h3>
    <!-- alt line: Bringing work and teams together. -->
    </div>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <p class="col-md-6 col-sm-8 col-xs-10 intro-body">Working today usually means open office plans, tons of interruptions, and endlessly switching between apps. It feels harder and harder to get to the work that matters. Dropbox offers a couple simple products designed to help you stay focused on your most meaningful work.
    <br>
    <br>
    Across a few projects, I introduced their new brand voice on a number of pages as part of a major rebrand, helped rewrite their About page, and made two customer story videos, along with a couple smaller things.
    </p>
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
  </div>


  <div class="row">
    <h4>Pages with the new brand voice.</h4>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_About.jpg" alt="dropbox about"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_Professional.jpg" alt="dropbox professional"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_Plus.jpg" alt="dropbox plus"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_SmartSync.jpg" alt="dropbox smartsync"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_Showcase.jpg" alt="dropbox showcase"></div>
    <div class="col-md-2"></div>
  </div>


  <div class="row">
  <div class="col-md-3 col-sm-2"></div>
  <div class="col-md-6 col-sm-8 col-xs-12"><h4>Customer Stories</h4>
  <p>We interviewed some interesting people whose companies rely on Dropbox to do the remarkable things they do. </p>
  </div>
  <div class="col-md-3 col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <h4>Dropbox + Martin Sign Co.</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://s3.us-west-1.amazonaws.com/tifsprojects/dropbox/Dropbox_CaseStudy_MartinSignCo.mp4" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <h4>Dropbox + MVMT</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://s3.us-west-1.amazonaws.com/tifsprojects/dropbox/Dropbox_CaseStudy_MVMT.mp4" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="beginner.js"></script>

<% include ../partials/foot %>







