<% include ../partials/head %>
<% include ../partials/nav %>

<main>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <h1 class="col-md-6 col-sm-7 col-xs-12 intro-title">Dropbox</h1>
    </div>
      <h3 class="col-md-6 col-sm-10 col-xs-10 intro-head">These are the boxes you drop</h3>
      <p class="col-md-4 col-sm-10 col-xs-10 intro-body">Here's more about what I did there.
  </div>
    <!-- <div class="col-md-1 col-sm-1"></div> -->
  </div>


  <div class="row">
    <h4>Launch pages for new Dropbox</h4>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_About.jpg" alt="dropbox about"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_Professional.jpg" alt="dropbox professional"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src=https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_Plus.jpg" alt="dropbox plus"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_SmartSync.jpg" alt="dropbox smartsync"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"><img src="https://tifsprojects.s3.us-west-1.amazonaws.com/dropbox/Dropbox_Showcase.jpg" alt="dropbox showcase"></div>
    <div class="col-md-2"></div>
  </div>


  <div class="row">
  <div class="col-md-3 col-sm-2"></div>
  <div class="col-md-6 col-sm-8 col-xs-12"><h4>Customer Stories</h4>
  <p>We got to interview some of the more remarkable companies that are using Dropbox...</p>
  </div>
  <div class="col-md-3 col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <h4>Dropbox + Martin Sign Company</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="..." allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <h4>Dropbox + MVMT</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="..." allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="beginner.js"></script>

<% include ../partials/foot %>

//






https://s3.us-west-1.amazonaws.com/tifsprojects/dropbox/Dropbox_CaseStudy_MartinSignCo.mp4
https://s3.us-west-1.amazonaws.com/tifsprojects/dropbox/Dropbox_CaseStudy_MVMT.mp4
