<% include ../partials/head %>

		<main class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
				<div class="col-md-8 col-sm-8 col-xs-10">
					<h1>Shower anywhere.</h1>
					<p>With dry shampoo, you can shower wherever you like – even an open field at an outdoor festival with a ton of new friends.</p>
				</div>
			<div class="col-md-2 col-sm-2 col-xs-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<iframe src="http://www.youtube.com/embed/k8Mg8jE4hN4" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>
		
		<% include ../partials/nav %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>