<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">got2b</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 intro-head">Shower anywhere.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro-body">With dry shampoo, you can shower wherever you like – even an open field at an outdoor festival with a ton of new friends.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h4>got2b at Sasquatch!</h4>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/k8Mg8jE4hN4" allowfullscreen></iframe>
						</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>