<% include ../partials/head %>

<% include ../partials/nav %>

		<main class"container-fluid">
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 head">Kmart Kreate</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 subhead">More than shopping.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro">Discount super-stores offer many of the same products.
					<br>
					<br>
					To revive the Kmart brand, Kreate offers new ways to think about and use the products people buy everyday.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">In-store branding to connect separate departments.
					<img src="/images/kreate/kreate_1.jpg" alt="jeans">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Package re-design.
					<img src="/images/kreate/kreate_2.jpg" alt="recipes">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Link your Kmart card and Facebook profile to see what you can do with recent purchases and what you have at home.
					<img src="/images/kreate/kreate_3.jpg" alt="facebook">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>