<% include ../partials/head %>

		<main class"container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10 col-xs-12">
					<h1>More than shopping.</h1>
					<p>Discount super-stores offer many of the same products.
					<br>
					To revive the Kmart brand, Kreate offers new ways to think about and use the products people buy everyday.</p>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">In-store branding to connect separate departments.
					<img src="/images/kreate/Kmart_Presentation_Website_rwd1.jpg" alt="jeans">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Package re-design.
					<img src="/images/kreate/Kmart_Presentation_Website_rwd2.jpg" alt="recipes">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Link your Kmart card and Facebook profile to see what you can do with recent purchases and what you have at home.
					<img src="/images/kreate/Kmart_Presentation_Website_rwd3.jpg" alt="facebook">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>
		
		<% include ../partials/nav %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>