<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Kmart Kreate</h1>
					<h3 class="col-md-7 col-sm-10 col-xs-10 intro-head">More than shopping.</h3>
					<p class="col-md-4 col-sm-10 col-xs-10 intro-body">Discount super-stores offer many of the same products.
					<br>
					<br>
					To revive the Kmart brand, Kreate offers new ways to think about and use the products people buy everyday.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">In-store branding to connect separate departments.
					<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/kreate/kreate_1.jpg?X-Amz-Date=20150317T144241Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=814c113aa5f16f366c6446b4fccbfda029f8efefa024cef16dfe9c0077e32928&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Jeans">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Package re-design.
					<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/kreate/kreate_2.jpg?X-Amz-Date=20150317T144241Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=e1307ba46419b8bf3629dbe90933e90e8666d6fbe681ab3d70187372e66ddf7d&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Recipes">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">Link your Kmart card and Facebook profile to see what you can do with recent purchases and what you have at home.
					<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/kreate/kreate_3.jpg?X-Amz-Date=20150317T144241Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=7a918134b5205a5ce090d8e82574dfb984cca99c2e1cbff3391460fa0be53078&X-Amz-Credential=ASIAJMHVCNKBV5UEJOCA/20150317/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPD//////////wEakAIx33N48NXqGkksfgpMyV6oCKVHw7JmcefneeF6nuKg1GesZrj1pBTqCOt8KtwBqOhx1qzZnOt44KoaSTGCAwwpNvT3WSd5AfRI7A%2B83UplvouSSIIw5IL7bTKVMo/R4ec/J2RV9/2%2BudQTOnCC/Sqe5FY3BYkN5QD9mFPjNUcd9%2Bfl4t1068hZazqEglQslxGq/df0eDnU%2BJt%2BRRm6PQ4sMjh7PQudK1BT%2B9XlaFc68yDLV8Z1DbW6Slz6GNQpS27j5iwI38EIkspoGmQRgPEA/HnaaUDABr3iHgwegVLZUPox%2B4t7JSwRORvbJxkAqK/Lxe6YI/vwVMvPjrUiAdDe1iAQR9KNvTH6cFXn4/CozyD/86CoBQ%3D%3D" alt="Facebook Integration">
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>