<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Mario &amp; Sonic</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 intro-head">Gaming royalty comes to England.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro-body">We needed to speak to two different generations of Sonic and Mario fans. If you also grew up playing Sega Genesis and Super Nintendo, I hope you enjoy these.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<br>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h4>Briefing</h4>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/LV8tt_keJLg" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h4>Mansion</h4>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="http://player.vimeo.com/video/36303081" allowfullscreen></iframe>
					</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>