<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="col-md-12 col-sm-12 col-xs-12 intro-title">Mario &amp; Sonic</h1>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
          <h3 class="intro-head">Gaming royalty comes to England.</h3>
          <p class="intro-body">The London Olympics drew legends far and wide, but what's ok in videogames can be awkward elsewhere, especially in England. To promote this game we needed to speak to all generations of Sonic and Mario fans.
					<br>
					<br>
					If you grew up playing Sega Genesis and Super Nintendo, get ready for some in-jokes!
          </p>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
      </div>

			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h4>Briefing - TV (30)</h4>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/mario%26sonic/Mario%26Sonic_Briefing.mp4" allowfullscreen></iframe>
						<!-- https://player.vimeo.com/video/31858205 -->
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h4>Mansion - TV (30)</h4>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://tifsprojects.s3.us-west-1.amazonaws.com/mario%26sonic/Mario%26Sonic_Mansion.mp4" allowfullscreen></iframe>
						<!-- http://player.vimeo.com/video/36303081 -->
					</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>