<% include ../partials/head %>

<% include ../partials/nav %>

		<main>
			<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="col-md-12 col-sm-12 col-xs-12 intro-title">#UPSfriend_ship</h1>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
          <h3 class="intro-head">A little gift goes a long way.</h3>
          <p class="intro-body">Everyone loves getting packages in the mail, but most friends share things digitally.
					<br>
					<br>
					#UPSfriend_ship encourages both by distributing small reusable UPS boxes, each with their own trackable hashtag, that ship free.
          </p>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
      </div>

			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>Foldable boxes as print media.</h4><br>
          <div class="col-md-9 col-sm-9 col-xs-12 ">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPSmag_001_web.jpg" alt="print">
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/ups_box_column_web.jpg" alt="print">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>Some folded-up boxes.</h4><br>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<img src="/images/ups/ups_2.jpg" alt="boxes">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>Box-specific hashtags come alive.</h4><br>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPS_Web_012514_0000__Landing.jpg" alt="landing page">
						<!-- Get a bigger view of the campaign -->
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>See one box's journey.</h4><br>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPS_Web_012514_0001__New+Multi+Map.jpg" alt="multi map">
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>Share a tweet to get a box.</h4><br>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPS_Web_012514_0002__Populated+Tweet.jpg" alt="social share">
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>Tear-away billboard.</h4><br>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPSOutDoor_01_web.jpg" alt="big billboard">
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/ups_billboard_column_web.jpg" alt="big billboard">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12"><h4>Out of home print.</h4><br>
					<div class="col-md-5 col-sm-6 col-xs-12">
						<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPSOOH_Final_0002_Surprise_web.jpg" alt="surprise outdoor situ">
					</div>
					<div class="col-md-7 col-sm-6 col-xs-12">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPS_busstop_Keeping.jpg" alt="keeping outdoor print">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<img src="https://s3-us-west-1.amazonaws.com/tifsprojects/ups/UPS_busstop_Remind.jpg" alt="remind outdoor print">
						</div>
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>

			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>