<% include ../partials/head %>

<% include ../partials/nav %>

		<main class="container-fluid">
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">#UPSfriend_ship</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 intro-head">A little gift goes a long way.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro-body">Everyone loves getting packages in the mail, but most friends share things digitally.
					<br>
					<br>
					#UPSfriend_ship encourages both by distributing small reusable UPS boxes, each with their own trackable hashtag, that ship free.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12 ">Foldable boxes as print media
						<img src="/images/ups/ups_1.jpg" alt="print">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">Some folded-up boxes
						<img src="/images/ups/ups_2.jpg" alt="boxes">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">Box-specific hashtags come alive	
						<img src="/images/ups/UPS_Web_012514_0000__Landing.jpg" alt="screenshot">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">Here's a map of where they've been!	
						<img src="/images/ups/UPS_Web_012514_0001__New Multi Map.jpg" alt="screenshot">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
					<blockquote>Tear-away billboard</blockquote>
						<img src="/images/ups/ups_4.jpg" alt="billboard">
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">Outdoor
						<img src="/images/ups/ups_5.jpg" alt="outdoor">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>		
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>