<% include ../partials/head %>

<% include ../partials/nav %>

		<main class="container-fluid">
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h1 class="col-md-7 col-sm-7 col-xs-12 intro-title">Urgent Genius</h1>
					<h3 class="col-md-7 col-sm-7 col-xs-12 intro-head">The power of real-time creativity.</h3>
					<p class="col-md-4 col-sm-4 col-xs-12 intro-body">"SxSW totally sold out."
					<br>
					<br>
					We turned this thought (along with a bunch of others) into sharable content over the course of an awesome, sleep-deprived week to promote the Urgent Genius panel. Our addition to the storied Downfall meme was written about in industry blogs, got hundreds of mentions on Twitter, and over 20K views in a couple days.</p>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>


			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
				<div class="col-md-8 col-sm-8 col-xs-10">
					<h1></h1>
					<p></p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h4>Hitler Responds To Recent Trends At SxSW</h4>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/z66_RnVLOJQ" allowfullscreen></iframe>
						</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
				<div class="col-md-8 col-sm-8 col-xs-10">More about <a href="http://www.urgentgenius.com/">Urgent Genius</a>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
			</div>
		</main>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>