<% include ../partials/head %>

<!-- Linkedin www.linkedin.com/in/tifslama/ -->
<!-- Instagram http://instagram.com/tif_s -->
<!-- Twitter https://twitter.com/tif_s -->

		<main>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
				<div class="col-md-8 col-sm-8 col-xs-10">
					<h1>A headline would read something like this.</h1>
					<p>Tif is short for Christopher.<br>
					Christopher ≈ Tiftopher ≈ Tiffer ≈ Tif<br>
					The part of New Jersey I grew up in has yet to be featured on reality TV.<br>
					I played football for nine years and nowtrain for marathons when I'm not lazy.<br>
					Here's my availability.
					<br>
					Here's me in sixth grade:
					Here's where I'm working.
					<br>
					Here's where I've worked
					<br>
					Here's where else I've worked.
					<br>
					I've also worked here.
					<br>
					Here's where I went to school.
					<br>
					And here's my current availability.</p>
					<br>
					<br>
					Grew up stuttering in a New Jersey suburb.
					<br>
					Got made fun of for freckles and red hair before being a ginger meant anything.
					<br>
					Spent nine years tackling people.
					<br>
					Ran a half marathon this summer (or quit halfway through a full marathon—depends how you look at it).
					<br>
					Lives and copywrites in San Francisco.
					<br>
					Tif is short for Christopher.
				</div>	
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<img class="full" src="http://images4.fanpop.com/image/photos/14700000/So-cute-puppies-14749026-1600-1200.jpg" alt="Doggie">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-1"></div>
			</div>
		</main>
		
		<% include ../partials/nav %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="beginner.js"></script>

<% include ../partials/foot %>